<html lang="en">
<head>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://malsup.github.com/jquery.form.js"></script>
	<script type="text/javascript" src="static/javascript/home.js"></script>
	<link rel="stylesheet" type="text/css" href="static/css/reset.css" />
	<link rel="stylesheet" type="text/css" href="static/css/home.css" />
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,800' rel='stylesheet' type='text/css'>
	<link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400,600italic,600,700italic,700,800italic,800" rel="stylesheet" type="text/css">
	<title>CPSC 458 | Final Project | Jason Brooks</title>
</head>
<body>
<div id="header">
	<p id="title-main-text">Computer Recommendation Engine</p>
	<p id="title-sub-text">Jason Brooks | CPSC 458 | Final Project</p>
	<img id="title-img" src="/static/images/desktop-pc-vector.png">
</div>
<div id="survey">
	<form id="comp-form" action="/computer-choices">
		<p>Q1: What is your budget for the computer?</p>
		<ul class="gfield_radio" id="input_1_budget">
			<li class="gchoice_budget_0">
				<input name="budget" type="radio" value="500" id="choice_1_budget_0" tabindex="13">
				<label for="choice_1_budget_0" id="label_1_budget_0">Under $500</label>
			</li>
			<li class="gchoice_budget_1">
				<input name="budget" type="radio" value="1000" id="choice_1_budget_1" tabindex="14">
				<label for="choice_1_budget_1" id="label_1_budget_1">Around $1000</label>
			</li>
			<br/>
			<li class="gchoice_budget_2">
				<input name="budget" type="radio" value="1500" id="choice_1_budget_2" tabindex="15">
				<label for="choice_1_budget_2" id="label_1_budget_2">Around $1500</label>
			</li>
			<li class="gchoice_budget_3">
				<input name="budget" type="radio" value="2000" id="choice_1_budget_3" tabindex="16">
				<label for="choice_1_budget_3" id="label_1_budget_3">Around $2000</label>
			</li>
		</ul>

		<p>Q2: What is your preferred operating system?</p>
		<ul class="gfield_radio" id="input_1_opterating_system">
			<li class="gchoice_operating_system">
				<input name="operating_system" type="radio" value="windows" id="choice_1_operating_system_0" tabindex="13">
				<label for="choice_1_operating_system_0" id="label_1_operating_system_0">Windows</label>
			</li>
			<li class="gchoice_operating_system_1">
				<input name="operating_system" type="radio" value="mac" id="choice_1_operating_system_1" tabindex="14">
				<label for="choice_1_operating_system_1" id="label_1_operating_system_1">Mac</label>
			</li>
			<br/>
			<li class="gchoice_operating_system_2">
				<input name="operating_system" type="radio" value="linux" id="choice_1_operating_system_2" tabindex="15">
				<label for="choice_1_operating_system_2" id="label_1_operating_system_2">Linux</label>
			</li>
			<li class="gchoice_operating_system_3">
				<input name="operating_system" type="radio" value="chrome" id="choice_1_operating_system_3" tabindex="16">
				<label for="choice_1_operating_system_3" id="label_1_operating_system_3">ChromeOS</label>
			</li>
		</ul>

		<p>Q3: What size computer are you looking for?</p>
		<ul class="gfield_radio" id="input_1_size">
			<li class="gchoice_size_0">
				<input name="size" type="radio" value="small" id="choice_1_size_0" tabindex="13">
				<label for="choice_1_size_0" id="label_1_size_0">Small (~11-13")</label>
			</li>
			<li class="gchoice_size_1">
				<input name="size" type="radio" value="medium" id="choice_1_size_1" tabindex="14">
				<label for="choice_1_size_1" id="label_1_size_1">Medium (~15")</label>
			</li>
			<br/>
			<li class="gchoice_size_2">
				<input name="size" type="radio" value="large" id="choice_1_size_2" tabindex="15">
				<label for="choice_1_size_2" id="label_1_size_2">Large (~17")</label>
			</li>
			<li class="gchoice_size_3">
				<input name="size" type="radio" value="dm" id="choice_1_size_3" tabindex="16">
				<label for="choice_1_size_3" id="label_1_size_3">Not Important</label>
			</li>
		</ul>

		<p>Q4: How much RAM do you need in your computer?</p>
		<p class="question-subtext">More RAM allows for more processing power for tasks like video and photo processing.</p>
		<ul class="gfield_radio" id="input_1_memory">
			<li class="gchoice_memory_0">
				<input name="memory" type="radio" value="small" id="choice_1_memory_0" tabindex="13">
				<label for="choice_1_memory_0" id="label_1_memory_0">2 GB or less</label>
			</li>
			<li class="gchoice_memory_1">
				<input name="memory" type="radio" value="medium" id="choice_1_memory_1" tabindex="14">
				<label for="choice_1_memory_1" id="label_1_memory_1">~4GB</label>
			</li>
			<br/>
			<li class="gchoice_memory_2">
				<input name="memory" type="radio" value="large" id="choice_1_memory_2" tabindex="15">
				<label for="choice_1_memory_2" id="label_1_memory_2">~8GB</label>
			</li>
			<li class="gchoice_memory_3">
				<input name="memory" type="radio" value="dm" id="choice_1_memory_3" tabindex="16">
				<label for="choice_1_memory_3" id="label_1_memory_3">Not Important</label>
			</li>
		</ul>

		<p>Q5: How much hard drive space do you need in your computer?</p>
		<p class="question-subtext">More hard drive space allows for storage of more files, which may include music, photos, and videos.</p>
		<ul class="gfield_radio" id="input_1_harddrive">
			<li class="gchoice_harddrive_0">
				<input name="harddrive" type="radio" value="500" id="choice_1_harddrive_0" tabindex="13">
				<label for="choice_1_harddrive_0" id="label_1_harddrive_0">Under $500</label>
			</li>
			<li class="gchoice_harddrive_1">
				<input name="harddrive" type="radio" value="1000" id="choice_1_harddrive_1" tabindex="14">
				<label for="choice_1_harddrive_1" id="label_1_harddrive_1">Around $1000</label>
			</li>
			<br/>
			<li class="gchoice_harddrive_2">
				<input name="harddrive" type="radio" value="1500" id="choice_1_harddrive_2" tabindex="15">
				<label for="choice_1_harddrive_2" id="label_1_harddrive_2">Around $1500</label>
			</li>
			<li class="gchoice_harddrive_3">
				<input name="harddrive" type="radio" value="2000" id="choice_1_harddrive_3" tabindex="16">
				<label for="choice_1_harddrive_3" id="label_1_harddrive_3">Around $2000</label>
			</li>
		</ul>

		<p>Q6: How long do you need the battery to last for?</p>
		<ul class="gfield_radio" id="input_1_battery">
			<li class="gchoice_battery_0">
				<input name="battery" type="radio" value="4" id="choice_1_battery_0" tabindex="13">
				<label for="choice_1_battery_0" id="label_1_battery_0">4 hours or less</label>
			</li>
			<li class="gchoice_battery_1">
				<input name="battery" type="radio" value="6" id="choice_1_battery_1" tabindex="14">
				<label for="choice_1_battery_1" id="label_1_battery_1">4-8 hours</label>
			</li>
			<br/>
			<li class="gchoice_battery_2">
				<input name="battery" type="radio" value="8" id="choice_1_battery_2" tabindex="15">
				<label for="choice_1_battery_2" id="label_1_battery_2">>8 hours</label>
			</li>
			<li class="gchoice_battery_3">
				<input name="battery" type="radio" value="dm" id="choice_1_battery_3" tabindex="16">
				<label for="choice_1_battery_3" id="label_1_battery_3">Not Important</label>
			</li>
		</ul>

		<p>Q7: Which computer models have you owned in the past?</p>
		<p class="question-subtext">Knowing what you've had in the past will help us find the next best machine for you to purchase.</p>

	</form>
</div>
</body>
</html>