<html lang="en">
<head>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://malsup.github.com/jquery.form.js"></script>
	<script type="text/javascript" src="static/javascript/home.js"></script>
	<!-- <link rel="stylesheet" type="text/css" href="static/css/reset.css" /> -->
	<link rel="stylesheet" type="text/css" href="static/css/home.css" />
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,800' rel='stylesheet' type='text/css'>
	<link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400,600italic,600,700italic,700,800italic,800" rel="stylesheet" type="text/css">
	<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />
	<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
	<title>CPSC 458 | Final Project | Jason Brooks</title>
</head>
<body>
<div id="header">
	<p id="title-main-text">Recommendations</p>
	<img id="title-img" src="/static/images/desktop-pc-vector.png">
</div>

</div>
</body>
</html>