/* Main Setup */

body {
  margin: 0;
  font: 400 1.25em/1.5 "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #34495e;
  text-align: center;
}

/* Header */
#header {
  padding-top: 45px;
  color: white;
}

#title-main-text {
  font-size: 45px;
  font-weight: 600;
}

#title-sub-text {
  font-size: 25px;
  padding: 10px;
}

#title-img {
  width: 300px;
  padding: 30px;
}

/* Form Stuff */

#comp-form p {
  padding-bottom: 10px;
  color: white;
}

.question-subtext {
  font-size: 14px;
  /*padding: 5px;*/
}

.checkboxexample label, .gfield_radio li label {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 100;
  padding: 15px 50px;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

ul {
  padding: 0;
}

.checkboxexample, .gfield_radio li {
  display: inline-block;
  margin-right: 1%;
  padding-bottom: 12px;
}

.checkboxexample label, .gfield_radio li label {
  width: 200px;
  border: 1px #333 solid;
  color: #333;
  background: #fff;
  text-align: center;
  display: block;
  cursor: pointer;
  font-size: 20px;
  font-weight: 300;
}

.checkboxexample label:hover, .gfield_radio li label:hover {
  border-color: #333;
  color: #333;
  cursor: pointer;
}

.checkboxexample label:active, .gfield_radio li label:active {
  border-color: #333;
  color: #333;
}

.checkboxexample input[type="checkbox"], .gfield_radio li input[type="checkbox"] {
  display: none;
}

.checkboxexample input[type="checkbox"]:checked + label, .gfield_radio li input[type="checkbox"]:checked + label {
  background: #333;
  color: #fff;
  border-color: #333;
}

.checkboxexample input[type="radio"], .gfield_radio li input[type="radio"] {
  display: none;
}

.checkboxexample input[type="radio"]:checked ~ label, .gfield_radio li input[type="radio"]:checked ~ label {
  background: #333;
  color: #fff;
  border-color: #333;
}

button {
  display: inline-block;
  -webkit-appearance: none;
  padding: 1em 1.3em;
  margin: 0 10px;
  font: 700 18px/1 "Open Sans", sans-serif;
  letter-spacing: 1px;
  border: none;
  color: white;
  position: relative;
}

button:not(.facebook) {
  background-color: #4783c4;
  box-shadow: 0px 6px #28517d;
  border-radius: 5px;
  text-transform: uppercase;
}

button:not(.facebook).blue {
  background-color: #4783c4;
  box-shadow: 0px 6px #28517d;
}

button:not(.facebook).green {
  background-color: #4ed198;
  box-shadow: 0px 6px #269364;
}

button:not(.facebook).green.disabled {
  background-color: transparent;
  border: 1px solid #4ed198;
  color: #4ed198;
}

button:not(.facebook).red {
  background-color: #ea6060;
  box-shadow: 0px 6px #c91b1b;
}

button:not(.facebook).red.disabled {
  background-color: transparent;
  border: 1px solid #ea6060;
  color: #ea6060;
}

button:not(.facebook):active, button:not(.facebook).pressed, .game.voted button:not(.facebook) {
  top: 6px;
  box-shadow: none;
}

button.form-button {
  padding: 0;
}

#submit-button-area {
  padding: 80px;
}

.select2-selection__choice {
  font: 400 15px "Open Sans", sans-serif;
}


